.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  .cards-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    height: 50vh;
    .community-card-container {
      display: flex;
      justify-content: space-around;
      width: 30%;
      .card-header {
        max-width: 92px;
        margin: auto;
      }
      .community-cards {
        width: 100%;
        max-width: 342px;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        .community-card{
          width: 12%;
        }
      }
    }
    .player-hands-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 30%;
      z-index: 9;
      .two-hands {
        display: flex;
        justify-content: space-between;
        width: 60%;
        .possible-hand {
          padding: 0 10px 10px 0;
          display: flex;
        }
      }
    }
    .card-header {
      background-color: white;
      border: 3px solid black;
      border-radius: 5px;
      text-align: center;
      padding: 5px 10px;
      font-size: 0.8em;
      margin: 0;
    }
  }
  .buttons-container {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 25%;
    align-items: center;
    min-height: 115px;
    position: absolute;
    bottom: 0;
    .stick-switch-buttons {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      .button {
        background: #C9CAC4;
        height: 20px;
        width: 50px;
        border: none;
        color: transparent;
        outline: none;
        margin: 0 5px;
      }
      .stick {
        background: url('/icons/Stick_Button_Black.svg') no-repeat center center;
      }
      .switch {
        background: url('/icons/Switch_Button_Black.svg')  no-repeat center center;
      }
    }
    .user-cards {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      .card-shrink {
        display: flex;
        width: 36%;
      }
    }
  }
}

.card-image-container {
  display: flex;
}

.card-image {
  width: 100%;
  height: auto;
  padding: 0 3px;
}