.game-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .cards-container {
    display: flex;
    justify-content: space-between;
    .community-card-container {
      display: flex;
      justify-content: space-around
    }
    .player-hands-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 30%;
      .two-hands {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .buttons-container {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto; 
  }
}

.card-image {
  max-width: 50px;
  height: auto;
}