.game-container {
  // Settings
  .settings-container {
    background: url('/settings_page/Settings_BG.svg') no-repeat;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    .settings-icons {
      height: 8%;
      display: flex;
      width: 62%;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      position: relative;
      padding-top: 3px;
      .settings-text {
        margin: 0;
        padding: 0 0 0 6px;
        font-size: 0.9em;
        color: white;
      }
      .on-off-icon {
        width: 30%;
        padding-right: 5px;
      }
      .blue-icon {
        width: 20%;
      }
    }
    .settings-icons:after {
      content: "";
      background: grey;
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
    }
    .close-settings {
      position: absolute;
      right: 52px;
      top: 0;
      height: 50px;
      width: 50px;
    }
  }
  .settings-icon {
    position: absolute;
    top: 0;
    right: 0;
    img {
      width: 30px;
      padding: 15px 0 0 15px;
    }
  }
  .secondary-settings-conatiner {
    z-index: 10;
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .background-image-top-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      width: 55%;
      align-items: center;
      padding-top: 5px;
      position: relative;
      &:after {
        content: "";
        background: grey;
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
      }
      .background-image-header {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
        color: white;
      }
    }
    .background-image {
      height: 13%;
      width: 42%;
      border: 1px solid blue;
      border-radius: 40px;
      margin-bottom: 5px;
    }
  }
  .change-card-back-container {
    width: 50%;
    height: 100%;
    .card-change-image {
      height: 80%;
      width: auto;
      padding: 2px;
    }
  }
  .background-image-change {
    background: url('/settings_page/Settings_BG.svg') no-repeat center center;
  }
  .background-change-card-back {
    background: url('/settings_page/Card_Backs_Page.svg') no-repeat center center;
  }
}